.pageHeader {
    text-align:center;
}
.list {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.shop {
    flex-basis: 25%;
    border: 1px dotted black;
    text-align: center;
}